<form action="" method="post">

  <label class="username">Username: <label>
    <input type="text" id="username"/><br>
  <label class="password">Password: <label>
  <input type="text" id="password"/><br>
  <button>login</button>
</form>
