.container {
  background-color: #fff;
  width: 75%;
  margin: auto;
}

.error , .addWaiter {
  color: #8e3937;
  margin-left: 3px;
  font-size: 20px;
}

.username {
  color: #474c54;
  margin-left: 1px;
  font-size: 25px;
}

.mon, .wed, .fri, .sun {
  background-color: #aa5861;
  padding: 9px 22px 9px 22px;
  font-size: 19px;
  margin-left: -4px;
}

.tue, .thu, .sat {
  background-color: #e5d7d9;
  padding: 9px 22px 9px 22px;
  font-size: 19px;
  margin-left: -4px;
}

li {
  list-style: none;
  color: #fff;
}

.colorOne{
  background-color: #f28a30;
}
.colorTwo {
  background-color: #cc4233;
}
.colorThree {
  background-color: #64c65f;
}

.rooster {
  color: #474c54;
  margin-left: 1px;
  font-size: 20px;
}

.success {
  padding: 10px;
  background-color: #64c65f;
  color: white;
  width: 35%;
}

.alertWaiter {
  padding: 10px;
  background-color: #cc4233;
  color: white;
  margin-top: 10px;
  width: 35%;
}

.warning {
  padding: 10px;
  background-color: #f28a30;
  color: white;
  margin-top: 10px;
  width: 35%;
}
